body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}

/* Workaround to get the content centert */
.center-container{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box{
  width: 300px;
  padding: 40px;
  background: #191919;
  text-align: center;
  border-radius: 18px;
  display: block;
}

.login-box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.login-box input[type = "text"], input[type = "password"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3489db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.login-box input[type = "text"]:hover, input[type = "password"]:hover{
    width: 280px;
}

.login-box input[type = "text"]:focus, input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.login-box input[type = "submit"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.login-box input[type = "submit"]:hover{
  background-color: #2ecc71;
}
